html, body
{
    background-color: lightgreen;     /* to change the whole html page color */
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer
{
    background-color: khaki;
}

h4
{
    font-size: 300%;
    text-align: center;
}

.pFooter
{
    font-size: 220%;
    text-align: center;
}

ul
{
    list-style-type: none;     /* to remove list bullet point */
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: khaki;     /* to change the bar color */
    position: sticky;     /* make the bar to stick one the page */
    top: 0;     /* where should the bar to stick */
    width: 100%;
}

li
{
    float: left;
}

.reference
{
    float: right;
}

li a
{
    display: block;
    block-size: 150%;
    font-size: 150%;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: lightblue;
}

.active
{
    background-color: darkkhaki;
}

.ref
{
    text-align: center;
    font-size: 200%;
}

.contact-tittle
{
    text-align: center;
    font-size: 200%;
}

.contact-form
{
    text-align: center;
    font-size: 200%;
}

.form-control
{
    width: 600px;
    background: transparent;
    color: white;     /* change the blinking line color */
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

input
{
    height: 45px;
}

form .submit
{
    background: tomato;
    border-color: transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
}

form .submit:hover
{
    background-color: greenyellow;
}