html, body
{
    background-color: lightblue;
    margin: 0;
}

ul
{
    list-style-type: none;     /* to remove list bullet point */
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: khaki;     /* to change the bar color */
    position: sticky;     /* make the bar to stick one the page */
    top: 0;     /* where should the bar to stick */
    width: 100%;
}

li
{
    float: left;
}

.reference
{
    float: right;
}

li a
{
    display: block;
    block-size: 150%;
    font-size: 150%;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: lightblue;
}

.active
{
    background-color: darkkhaki;
}

#myVid
{
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.background
{
    background-image: url(https://live.staticflickr.com/65535/50939018586_4e2af415b3_m.jpg);
    background-size: 100%;
}

.content
{
    font-size: 200%;
    text-align: center;
}